.FormMainDiv{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;

}

.formInnerDiv{

    background-color: white;
    border-radius: 10px;
    width: 40%;
    padding: 20px;
}